/* Style of the body of the page, which should be white and take up the browser window */
body {
    background-color:#ffffff;
    width: 100%;
    margin: 0;
}

/* --------------------- NAV BAR STYLES ----------------------- */

/* Style of the nav bar */
nav {
    width: 100%;
    background-color: #e9dfd6;
    padding-top: 15px;
    padding-bottom: 10px;
    display: flow-root; /* credit for use of this value: https://css-tricks.com/clearfix-a-lesson-in-web-development-evolution/ */
}

/* Style of the logo, which will be on the left side of the screen */
.logo_image {
    float: left;
    width: 120px; 
    height:120px;
}


/* Style of the navigation links */
.nav_links {
    float: right; /* nav links sit to the right */
    color: #5a665f;
    font-family: Poppins, Helvetica, Arial, "san serif";
    font-weight: 500;
    font-size:1.1rem;
    line-height: 1.3rem;
    padding: 1.5rem;
    text-align:center;
    text-transform: uppercase;
    text-decoration: none;
}

/* Style when navigation links are hovered over */
.nav_links:hover {
    color:#5a665f;
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
}


/* --------------------- HEADING STYLES ----------------------- */

/* Style of h1 */
h1 {
    color: #5a665f;
    font-family: "Alegreya Sans", Helvetica, Arial, "san serif";
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.5rem;
    text-transform: uppercase;
    text-align: center;
    margin: 3rem 2rem 1rem 2rem;
    padding: 1rem;
}

/* Style of h2 */
h2 {
    color: #ccb1a2;
    font-family: "Alegreya Sans", Helvetica, Arial, "san serif";
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.4rem;
    text-transform: capitalize;
    text-align: center;
    margin: 1rem 2rem;
    padding: 1rem;
}

/* Style of h3 */
h3 {
    color: #5f2e21;
    font-family:  "Alegreya Sans", Helvetica, Arial, "san serif";
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.7rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    text-align: center;
    margin: 1rem 2rem;
    padding: 1rem;
}


/* --------------------- PARAGRAPH STYLES ----------------------- */

/* Styling of paragraphs of text */
p {
    color: #686960;
    font-family: Poppins, Helvetica, Arial, "san serif";
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.7rem;
    padding: 1rem;
}

/* Style of paragraphs of text in the info cards. */
.info_card_paragraph {
    padding-left: 3rem;
    padding-right: 3rem;
}

/* --------------------- BLOCKQUOTE + ASIDE STYLES ------------------------ */
.pullquote {
    color:#ffffff;
    background-color: #f17f6a;
    float: right;
    text-align: right;
    min-width: 200px;
    max-width: 30%;
    margin-left: 2rem;
    margin-top: 2rem;
    padding-left: 2rem;
}

/* --------------------- SECTION STYLES ----------------------- */

/* Style of sections that are intended to take up a single column */
.single_column_section {
    margin: auto;
    text-align: center;
    display: flow-root;
}

/* Style paragraphs in the intro blurb so they are centered */
.single_column_section p {
    margin: 1.4rem auto;
    width: 80%;
}

/* Using flexbox to create two column layout */
.flex_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

/* Style for single column in the two column layout. */
.flex_container .info_card {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 50%;
}



/* --------------------- IMAGE STYLES + IFRAME ----------------------- */

/* Styling for hero/banner images */
.hero_image {
    width: 100%;
}

iframe {
    display: inline-block;
}
/* Style of the iframes used to display videos */
.iframe {
    display: inline;
    width: 45%;
    padding: 15px;
}


/* --------------------- NON-HAV HYPERLINK + BUTTON STYLES ----------------------- */

/* Style of hyperlinks (non-navigation links) */
a {
    color:#f17f6a;
    text-decoration: none;
}


/* Style when a hyperlink (non-navigation links) is hovered over */
a:hover {
    text-decoration: underline;
}


/* Style of buttons */
button {
    color:#f17f6a;
    background-color: #ffffff;
    border-color: #f17f6a;
    border-style: solid;
    font-family: Poppins, Helvetica, Arial, "san serif";
    font-size: 0.85rem;
    margin: 1em auto;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    text-transform: uppercase;
    text-align: center;
}

/* Style of buttons when hovered over */
button:hover {
    color: #ffffff;
    background-color: #f17f6a;
}


/* --------------------- LIST STYLES ----------------------- */


/* Styling for unordered lists */
ul {
    text-align: left;
    color: #686960;
    font-family: Poppins, Helvetica, Arial, "san serif";
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.7rem;
    padding-left: 2rem;
    padding-right: 2rem;
}


/* --------------------- TABLE STYLES ----------------------- */



/* ---------------------- CARD STYLES ------------------------ */


/* Style of the print cards themselves */
.print_card {
    display: inline-block;
    width: 22%;
    padding: 15px;
}

/* Style the images in the print cards */
.print_card img {
    width: 100%;
}

/* Style of paragraph of text on the shop cards */
.price_p {
    margin: 0 auto;
    text-align: center;
}


/* --------------------- FOOTER STYLES ----------------------- */

/* Design of the footer */
footer {
    background-color: #dfddd5;
}

/* Design of paragraphs of text in the footer */
footer p {
    color: #464b46;
    text-align: center;
    margin-bottom: 0;
}


/* ---------------------- TABLET MEDIA QUERIES ------------------------- */
/* These are for media queries for screens between 641 pixels and 1024 pixels. */

/* Resize h1 to be smaller and lighter in weight than desktop. */
@media screen and (min-width: 641px) and (max-width: 1024px) {

    /* ----------------------- NAV BAR FOR TABLET -------------------------- */

    /* Make navigation text smaller to account for smaller device size. */
    .nav_links {
        font-size: .9rem;
    }
    
    /* Resize h1 to be smaller and lighter in weight than desktop. */
    h1 {
      font-size: 2.2rem;
      line-height: 2.4rem;
      font-weight:500;
    }

    /* Resize h2 to be smaller (with modified line height) than desktop. */
    h2 {
        font-size: 1.5rem;
        line-height: 1.7rem;
    }

    /* Resize h3 to be smaller (with modified line height than desktop. */
    h3 {
        font-size: 1.3rem;
        line-height: 1.4rem;
    }

    /* Resize p to be left aligned and smaller than desktop. */
    p {
        font-size:0.95rem;
    }

    /* Style the print cards so that there are less cards on each row on tablet. */
    .print_card {
        width: 40%;
    }
}


/* ---------------------- MOBILE MEDIA QUERIES ------------------------- */
/* These are media queries for screens of 640 pixels or less. */


@media screen and (max-width: 640px) {

    /* ----------------------- NAV BAR FOR MOBILE -------------------------- */

    /* Make sure the logo doesn't float left on mobile and instead displays as a block level element. */
    .logo_image {
        float: none;
        display: block;
    }
    
    /* Make navigation text smaller, underlined, left aligned, and with nav links each block level for a stacked look. */
    .nav_links {
        float: none;
        display: block;
        text-align: left;
        font-size: .85rem;
        padding: 0.9rem 0rem 0rem 0rem;
        margin-left: 1.5rem;
        text-decoration: underline;
        text-decoration-thickness: 0.2rem;
    }
    
    /* Resize h1 to be smaller, left-aligned, and lighter in weight than desktop. */
    h1 {
        font-size: 1.8rem;
        line-height: 1.8rem;
        font-weight:500;
        text-align: left;
        margin-left: 30px;
        margin-right: 30px;
    }

    /* Resize h2 to be smaller (with modified line height than desktop. */
    h2 {
        font-size: 1.3rem;
        line-height: 1.4rem;
        text-align: left;
        margin-left: 30px;
        margin-right: 30px;
    }

    /* Resize h3 to be smaller (with modified line height than desktop. */
    h3 {
        font-size: 1.1rem;
        line-height: 1.2rem;
    }

    /* Resize p to be left aligned and smaller than desktop. */
    p, .single_column_section p {
        font-size:0.9rem;
        text-align: left;
        margin-left: 30px;
        margin-right: 30px;
        width: 80%;
    }


    /* Style the print cards so that there are less cards on each row on tablet. */
    .print_card {
        width: 80%;
    }
}

